:root {
  --h1: 3.052rem;
  --h2: 2.441rem;
  --h3: 1.953rem;
  --h4: 1.563rem;
}

.warm {
  --black: #000;
  --beige: rgb(237, 208, 171);
  --light-brown: #ebaa4f;
  --brown: rgb(131, 67, 21);

  --first: var(--black);
  --second: var(--brown);
  --third: var(--beige);
  --fourth: var(--light-brown);
}

.cool {
  --black: #000;
  --light-purple: rgb(217, 187, 239);
  --light-blue: rgb(211, 226, 253);
  --dark-blue: rgb(4, 13, 56);

  --first: var(--black);
  --second: var(--dark-blue);
  --third: var(--light-blue);
  --fourth: var(--light-purple);
}

head,
body,
* {
  font-family: 'Mali', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osz-font-smoothing: grayscale;
  text-align: center;
  border-radius: 30px;
  background-color: var(--third);

}

.main {
  color: var(--second);
}

h1 {
  color: var(--second);
  font-size: var(--h1);
}

.btn {
  color: var(--second);
  font-size: var(--h4);
  border-color: var(--fourth);
}

.mainCard {
  margin: 10;
  padding: 10;
}