#app {
  font-family: 'Mali', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osz-font-smoothing: grayscale;
  text-align: center;
  color: rgb(131, 67, 21);
  margin-top: 60px;
}

body {
  background-color: rgb(237, 208, 171);
}